{{>partials/header}}

<head>
    <link rel="stylesheet" href="/css/topic-page.css">
</head>
<body>  
    {{>partials/navbar}}
    <main>
        <div class="main-content">
            <h4>Titulo Aleatorio</h4>
            <div class="body-upload-content">
                <span>Joãozin</span>
                <p>Joãozin foi pescar e pegou um baita dum robalo.</p>
                <a href="" download=""><button type="button" class="btn btn-primary">Download</button></a>
            </div>
            <h5>Comentários:</h5>
                    <div class="comment-content" data-value="1">
                        <span>Tio San</span>
                            <div class="view-comment" style="display:inline">
                                <p id="comment">Comentario nd ver</p>
                                <div class="action-links">
                                    <form class="delete-button" action="" method="POST">
                                        <a id="delete-comment">excluir</a>
                                    </form>                
                                    <a class="editar-comment" onclick = "actionEdit(1)">editar</a>
                                </div>
                            </div>    
                            <div class="edit-comment" style="display:none" data-id ="1">
                                <form method="POST" action="">
                                    <div class="mb-3">
                                        <textarea class="form-control" id="edit-comment-textarea" name="edit-comment-textarea" rows="3" required>Teste de comentario aleatorio</textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                    <button class="btn btn-danger cancel-button" onclick="event.preventDefault(); actionCancel(1);">Cancelar</button>
                                </form>
                            </div>
                            {{! <p id="comment">Testando comentario</p> }}
                    </div>
        </div>
        <form action="" method="POST">
            <div class="mb-3">
                <label class="form-label">Adicionar comentário:</label>
                <textarea class="form-control" id="add-comment" name="add-comment" rows="3" required></textarea>
            </div>
            <button class="btn btn-primary">Enviar</button>
        </form>
    </main>
    <script src="/js/topic-page.js"></script>
</body>
{{>partials/footer}}