{{>partials/header}}
<head>
    <link rel="stylesheet" href="/css/upload-file.css">
</head>
    {{>partials/navbar}}
<div class="upload-content">
    <form action="/upload-file" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Título" required>
            </div>
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
        <input type="file" name="upload-file" id="upload-file" required>
        <div class="buttons-form">
            <button type="submit" class="btn btn-primary">Fazer Upload</button>
            <a href="/uploads"><button type="button" class="btn btn-secondary">Cancelar Upload</button></a>
        </div>
    </form>
</div>

{{>partials/footer}}