<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <nav>
        <img src="/img/cloud-computing-white.png" alt="logo">
        <a href="/uploads"><span>Upload Media</span></a>
        <form action="/login" method="get" class="inline">
            <input type="hidden" name="_metodo" value="DELETE">
            <a href="/login">
                <img src="/img/log-out-white.png" alt="leave">
            </a>
        </form>
    </nav>
</body>